html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/******** Adjust Brand Logo Image ************/

.brand-logo {
    margin: -15px 0 0 0;
    padding: 0;
    float: left;
}

/*********** UL SORTER ***********/
ul.sorter {
    list-style: none;
    display: block;
    clear: both;
    min-height: 30px;
}

ul.sorter li {
    float: right;
    padding: 4px 5px;
    margin: 0 5px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none !important;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 0px;
    border-bottom: 1px solid #ccc;
}
/******** Changes to list view and Item ************/
.non-margin {
    margin: 0 !important;
}

.non-padding {
    padding: 0 !important;
}

.glyphicon-thumbs-up {
    color: #749be7;
    font-size: 1.2em;
}

.bg-center {
    background-position: center center;
    background-size: cover;
}

.my-thumb {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.base-container {
    margin-bottom: 20px;
    border: 0;
}

.my-thumb-body {
    padding: 10px;
}

.thumb128 {
    width: 128px!important;
    height: 128px!important;
    background: transparent;
    border: 1px solid transparent;
}

.bg-vand-color {
    background-color: #3A3F51;
    color: #fff!important;
}

.bg-info-color {
    background-color: #221F20;
}

.bg-link-color {
    background-color: #FFCC66;
}

.bg-white {
    background-color: #FFFFFF;
}

.text-white {
    color: #fff;
}

.text-facebook {
    color: #749be7;
}

.text-2x {
    font-size: 1.1em;
}

.text-white a {
    color: #fff;
}

.text-white a:hover {
    text-decoration: none !important;
    color: #FFCC66;
}

.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

.row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}

.my-thumb .base-container,
.my-thumb.base-container {
    overflow: hidden;
}

.inside-body {
    padding: 15px;
}

.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron img {
    width: 100px;
    height: 100px;
}

img.img-resp {
    max-width: 100%;
    height: auto;
}

